<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>513891152070-33ku3c8agv8fs2772u16knlh5bp22u8j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.513891152070-33ku3c8agv8fs2772u16knlh5bp22u8j</string>
	<key>API_KEY</key>
	<string>AIzaSyAcjRrLLJXanQt0WK3HfgsNtxh3J6cfd7E</string>
	<key>GCM_SENDER_ID</key>
	<string>513891152070</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.ac.knu.comp420.shj98011.MySpot</string>
	<key>PROJECT_ID</key>
	<string>symbolic-eye-334619</string>
	<key>STORAGE_BUCKET</key>
	<string>symbolic-eye-334619.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:513891152070:ios:3da5d22757fe92b53327c7</string>
</dict>
</plist>